<section id="carousel">
  <div id="carousel-container"></div>
  <div id="carousel-navbar">
    <div class="main-container">
      <!-- Product spotlight -->
      <a id="product-spotlight" href="">
        <figure></figure>
        
        <span id="spotlight-title">
          Product Spotlight
        </span>
        <span id="spotlight-product">
          Teeth Whitening Kit
        </span>
      </a>
      
      <!-- Carousel navigation -->
      <div id="carousel-navigation">
        <div class="carousel-btn left"></div>
        <div class="carousel-btn right"></div>
        
        <div id="carousel-slides-container">
          <ul>
            <li class="active">
              <div class="thumbnail">
                <img src="{{ 'carousel-product-placeholder.jpg' | asset_url }}" alt="" />
              </div>
              
              <div class="preview-description">
                <span class="title">Enjoy the cleanse</span>
                
                <p>
                  A gentle mild foaming cleanser derived from Coconut and Sugar Beets.
                </p>
              </div>
            </li>
            <li>
              <div class="thumbnail">
                <img src="{{ 'carousel-product-placeholder.jpg' | asset_url }}" alt="" />
              </div>
              
              <div class="preview-description">
                <span class="title">Enjoy the cleanse</span>
                
                <p>
                  A gentle mild foaming cleanser derived from Coconut and Sugar Beets.
                </p>
              </div>
            </li>
            <li>
              <div class="thumbnail">
                <img src="{{ 'carousel-product-placeholder.jpg' | asset_url }}" alt="" />
              </div>
              
              <div class="preview-description">
                <span class="title">Enjoy the cleanse</span>
                
                <p>
                  A gentle mild foaming cleanser derived from Coconut and Sugar Beets.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>