<div id="product-photos">
  <div class="product-photo-container">
  {% if product.images.size == 0 %}
    <img src="{{ '' | img_url: 'grande' }}" alt="" />
  
  {% else %}  
    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
  
    <ul>
      {% for image in product.images %}
      <li>
        <img src="{{ image | img_url: 'grande' }}" alt="{{ image.alt | escape }}" />
      </li>
      {% endfor %}
    </ul>
    
    {% if product.images.size > 1 %}
    <div class="product-arrow left disabled"></div>
    <div class="product-arrow right"></div>
    {% endif %}
  {% endif %}
  </div>
</div><!-- .product-photos -->